<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>게시판 커뮤니티</h1>

<a href="/board/write">게시글 작성하기</a>

<div th:if="${session.user == null}">
  <a href="/login">로그인</a>
  <a href="/auth/join">회원가입</a>
</div>

<div th:if="${session.user != null}">
  <div th:text="${session.user.getUsername()}"></div>님 환영합니다.
  <a href="/logout">로그아웃</a>
</div>

<br>
<br>

<table>
  <thead>
  <tr>
    <th>
      게시판 NO
    </th>
    <th>
      제목
    </th>
    <th>
      작성자
    </th>
    <th>
      작성일
    </th>
    <th>
      수정일
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      1
    </td>
    <td>
      게시판 제목 테스트
    </td>
    <td>
      작성자 테스트
    </td>
    <td>
      <p>2021.01.01</p>
    </td>
    <td>
      <p>2021.01.01</p>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>